<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask</title>

    <!-- Link to Local Bootstrap CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
</head>
<body class="d-flex flex-column" style="min-height: 100vh;"> <!-- Apply Flexbox to the body to make footer stick at bottom -->

    <!-- Navigation Bar (Example) -->
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">jayu404</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- Link to Home Page -->
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <!-- Link to About Page -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about') }}">About</a>
                </li>
                <!-- Link to Contact Page -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('pricing') }}">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
      </ul>
      <form class="d-flex ms-auto">
        <input class="form-control me-sm-2" type="search" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

    <!-- Main Content -->
    <div class="container mt-5 flex-grow-1">
        <h1>{% block content%}{% endblock%}</h1>
        <h2>{% block paragraph%}{% endblock%}</h2>
    </div>

    <!-- Footer -->
    <footer class="bg-dark text-center py-3 mt-auto">
        <div class="container">
            <p>&copy; 2025 Flask App. All Rights Reserved.</p>

        </div>
    </footer>

    <!-- Link to Bootstrap JS (if needed) -->
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
</body>
</html>